<!-- in controller, method to provide random 10 mood-food combos to rate -->

<div class="container">

    <% @foods.each do |food| %>
      <%= food.name %>
    <% end %>

    <% @moods.each do |mood| %>
      <%= mood.name %>
    <% end %>

    <%= form_for root_path do |f| %>
      <%= f.collection_check_boxes(1..5) %>
      <%= f.submit %>
    <% end %>

</div>

<!-- button to give another random 10 food-mood combos to rate - same method as when page is first rendered -->
