<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui blue header">
      <div class="content">
        Log-in to your account
      </div>
    </h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "ui small form") do |f| %>
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <%= f.email_field :email, placeholder: "email", autofocus: true %>
          </div>
        </div>

        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password, placeholder: "password", autocomplete: "off" %>
          </div>
        </div>

        <% if devise_mapping.rememberable? -%>
        <div class="field">
          <div class="">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        </div>
        <% end %>

      </div>

      <div class="actions ui fluid large teal submit button">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

    <div class="ui message">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
