<tr>
  <td><%= link_to restaurant.name, restaurant.link, target: '_blank', class: '' %></td>
  <td><%= restaurant.format_price_range %></td>
  <td><%= restaurant.format_category %></td>
  <td><%= restaurant.format_phone %></td>
  <td><%= restaurant.format_address %></td>
  <td><%= restaurant.format_rating %></td>
</tr>
 

