<!DOCTYPE html>
<html>
  <head>
    <title>Yummoo</title>
    <%= csrf_meta_tags %>
    <!-- APP CSS -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- SEMANTIC UI CSS -->
    <%= stylesheet_link_tag 'semantic.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- custom styles -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="shortcut icon" href="/cherries.ico">
  </head>

  <body>
    <header>
      <%= render 'layouts/nav' %>
    </header>
    <div class="ui bottom attached segment pushable">
      <div class="ui inverted labeled icon left inline vertical sidebar menu">
        <a class="item disabled">
          <i class="history icon"></i>
          History
        </a>
        <a class="item" href="/recommendations">
          <i class="add circle icon"></i>
          Contribute
        </a>
        <a class="item">
          <i class="search icon"></i>
          Search<br>Restaurants
        </a>
      </div>
      <div class="pusher">
        <%= render 'layouts/messages' %>

        <div class="ui basic segment">
          <main> <%= yield %> </main>
        </div>
      </div>
       <footer class="footer">
            Copyright &copy; Yummoo 2016
        </footer>
    </div>

    <!-- JQUERY -->
    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <!-- SEMANTIC UI JS -->
    <%= javascript_include_tag 'semantic.min', 'data-turbolinks-track': 'reload' %>
    <!-- APP JS -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript">
      // $('.ui.modal').modal({inverted: false}).modal('show');
      $('.ui.modal').modal({blurring: true}).modal('show');
    </script>
  </body>
</html>
